# Node.js dependencies
node_modules/

# Buid files
dist/*
!dist/index.js

# TypeScript cache
*.tsbuildinfo

# Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
.DS_Store
Thumbs.db